*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Barlow Condensed', sans-serif; background: #F5EFE0; overflow-x: hidden; }
h1,h2,h3,h4,h5,h6 { font-family: 'BERNIER Distressed', cursive; letter-spacing: 0.05em; text-transform: uppercase; }
img { display: block; max-width: 100%; }
#root { width: 100%; }
a { text-decoration: none; }
@font-face {
  font-family: 'BERNIER Distressed';
  src: url('assets/BERNIERDistressedRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'BERNIER Distressed', sans-serif;
}
